*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, input, textarea {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

a {
  transition: $transition-standard;
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  @include body-text;
}

h1 {
  @include title-h1;
}

h2 {
  @include title-h2;
}

h3 {
  @include title-h3;
}

.container {
  @include container;
}

.oembed,
.wp-video {
  flex: 0 0 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe,
  video,
  .mejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
