.button {
  display: inline-block;
  min-width: 256px;
  border-radius: 32px;
  font-size: rem(18px);
  font-weight: bold;
  line-height: 1.33;
  padding: 20px 50px;
  background-color: $white;
  border: 1px solid $white;
  color: $primary;
  text-align: center;
  text-transform: lowercase;

  @media (min-width: $md) {
    font-size: rem(24px);
    line-height: 1;
    border-radius: 40px;
    padding: 27px 70px;
  }

  &:hover {
    background-color: $primary;
    border-color: $white;
    color: $white;
    text-decoration: none;
  }

  &--alt {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:hover {
      background-color: $white;
      border-color: $primary;
      color: $primary;
    }
  }
}
