.pagination {
  list-style: none;
  text-align: center;
  position: relative;
  margin: 0 auto;;
  li {
    display: inline-block;
    padding: rem(16px);
    .page-numbers {
      display: inline-block;
      color: $primary;
      text-align: center;
      &.current {

      }
      &.next {

      }
      &.prev {

      }
    }
  }
}
